@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
}
body{
    font-family: "DM Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Bebas Neue", sans-serif;
}

/* header-top */
.header-top{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
}
button{
    border: none;
    cursor: pointer;
    transition: .6s;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding: 18px 50px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(193, 129, 76);
}
 button:hover{
    background-color: rgb(33, 37, 41);
}

/* header-bottom */
.header-bottom{
    background-image: url(images/bg.webp);
}
.bottom-container{
    height: 86vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-left span{
    font-weight: 700;
    word-spacing: 4px;
    border-radius: 5px;
    padding: 12px 20px;
    color: RGB(24, 29, 78);
    background-color: rgb(244, 217, 194);
}
.header-left h2{
    font-size: 80px;
    font-weight: 500;
    line-height: 1em;
    margin: 50px 0 20px;
    color: rgba(30, 67, 57, 1);
}
.header-left p{
    font-size: 15px;
    line-height: 1.8em;
    margin-bottom: 20px;
    color: RGB(107, 112, 118);
}

/* content-area */
.content-area{
    width: 60%;
    margin: 0 auto;
    padding: 100px 0;
}
.content-title{
    font-weight: 600;
    text-align: center;
    color: rgba(83, 148, 173, 1);
}
.content-title h3{
    font-size: 55px;
    margin: 30px 0;
    color: rgba(30, 67, 57, 1);
}
.content-menu{
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.content-item{
    width: 25%;
}
.content-item2{
    width: 28%;
}
.item-details{
    position: relative;
}
.item-details p{
    font-size: 15px;
    color: rgba(107, 112, 118, 1);
}
.item-icon{
    width: 40px;
    height: 40px;
    padding: 15px;
    border-radius: 50%;
    color: rgb(193, 129, 76);
    background-color: rgb(244, 241, 238);
    position: absolute;
    top: 50px;
    left: -100px;
}
.item-price{
    display: flex;
    justify-content: space-between;
}
.item-price h4{
    font-size: 25px;
    font-weight: 500;
    padding: 35px 0 20px;
    color: RGB(30, 67, 57);
}
.item-price h4:last-child{
    color: rgb(83, 148, 173);
}

/* booking-area */
.booking-area{
    padding: 100px 0;
    background-image: url(images/bg2.webp);
}
.reservation{
    width: 60%;
    margin: 0 auto;
}
.reservation-content{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reservation-image{
    width: 48%;
}
.reservation-form{
    width: 50%;
    padding: 60px;
    background-color: white;
}
.reservation-form span{
    font-weight: 600;
    color: rgba(83, 148, 173, 1);
}
.reservation-form h3{
    font-size: 25px;
    margin: 15px 0 30px;
    color: rgba(30, 67, 57, 1);
}

.reservation-form input{
    width: 36%;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 20px;
}
.reservation-form textarea{
    width: 85%;
    margin: 10px;
    border-radius: 5px;
    padding: 15px 20px 70px;
}
.reservation-form input::placeholder,
.reservation-form textarea::placeholder{
    font-size: 16px;
    font-weight: 550;
    font-family: "DM Sans", sans-serif;
}
.reservation-form input:hover,
.reservation-form textarea:hover{
    border: 1px solid rgb(193, 129, 76);
}